body{
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    
}


.background-01{
    background-image: url("../media/backgrounds/background_01.jpg");
}

.background-02{
    background-image: url("../media/backgrounds/background_02.jpg");
}

.background-03{
    background-image: url("../media/backgrounds/background_03.jpg");
}

a { 
    text-decoration: none; 
    color: #000;
    
}


h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

h3{
    font-size: 1.2rem;
}

h4{
    font-size: 1rem;
}

img{
    max-width: 100%;
}




.hidden{
    display: none;
}


.container{
    display: flex;    
    margin: 0 auto;
    justify-content: space-around;
}

/*
body > .container > main{
    width: 80%;
}
*/
body > .container > aside{
   background-color: #eee;
   width: 20rem;
}

img.card, .shadow{
    box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%), 0 0.375rem 1.25rem 0 rgb(0 0 0 / 19%);
}


.scrollable{
    overflow-y: scroll;
}

.page .popup{
    background-color: rgba(255,255,255,0.9);
    

    box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%), 0 0.375rem 1.25rem 0 rgb(0 0 0 / 19%);
    background-image: url("../media/logo.png");
    background-repeat: no-repeat;
    background-position:  center 2rem;
    
    background-size: 15rem; 
    padding-top:7rem;
}

.page .popup header{
    text-align: center;
}

.page .popup header .container{
    justify-content: center;
    
}



.manas{
    margin:0;
}

.manas .mana{
    background-image: url(../media/mana.png);
    width: 2.2rem;
    height: 2.2rem;
    background-size: 12rem;
    background-repeat: no-repeat;
    border: 0.125rem solid #ccc;
    border: 0;
    border-radius: 100%;
    border: 0.125rem solid #000;
    margin: 0.125rem;
    box-sizing: border-box;
}

.manas .mana.white{
    background-position: -0.15rem;
}

#deck-building .manas.container{
    justify-content: flex-start;
}

.manas .mana.blue{
    background-position: -2.50rem;
}

.manas .mana.black{
    background-position: -4.52rem;
    background-size: 11.5rem;
}

.manas .mana.red{
    background-position: -6.35rem;
    background-size: 11rem;
}

.manas .mana.green{
    background-position: -8.55rem;
    background-size: 11rem;
}

.manas .mana.colorless{
    background-image: url(../media/colorless.png);
    background-size: 2.8rem;
    background-position: -0.4rem;
    background-color: #fff;
}

.manas .mana.land{
    background-image: url(../media/land.png);
    background-size: 1.8rem;
    background-position: 0.1rem;
    background-color: #fff;
}
